{
  "plugins": ["prettier-plugin-svelte"],
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "svelteSortOrder": "options-scripts-markup-styles",
        "svelteAllowShorthand": true,
        "svelteIndentScriptAndStyle": true
      }
    }
  ]
}
